<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Cadastro de produtos:</h1>
    <form action="/registers/register_data" method="post">
      <div>
        <input type="email" name="email" placeholder="digite seu email" />
      </div>

      <div>
        <input type="password" name="password" placeholder="digite sua senha" />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>
  </body>
</html>
